<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>ABOUT</title>
  </head>
  <body>
    <p id="about-p">
      Steve Jobs was an American entrepreneur and business magnate who
      co-founded Apple Inc. He was born on February 24, 1955, in San Francisco,
      California. Jobs had a profound impact on the technology industry and
      revolutionized the way people interacted with computers and personal
      electronics. In his early years, Jobs showed a keen interest in
      electronics and computers. He attended Homestead High School in
      California, where he met Steve Wozniak, with whom he would later co-found
      Apple. After high school, Jobs enrolled at Reed College but dropped out
      after six months due to financial constraints. However, he continued to
      audit classes that interested him, including calligraphy, which later
      influenced the design of Apple's products. In 1974, Jobs returned to
      California and began attending meetings of the Homebrew Computer Club with
      Wozniak. Together, they designed and built the first Apple computer, the
      Apple I, in Jobs' parents' garage. This marked the beginning of Apple
      Inc., which was officially founded in 1976. Under Jobs' leadership, Apple
      introduced the Apple II, which became a commercial success and helped
      establish the company's reputation in the industry. However, conflicts
      arose within the company, leading to Jobs being ousted from Apple in 1985.
      Following his departure from Apple, Jobs founded NeXT Inc., a computer
      platform development company. NeXT struggled in the hardware market but
      gained recognition for its innovative software, which laid the foundation
      for future Apple products. In 1996, Apple acquired NeXT, bringing Steve
      Jobs back to the company he co-founded. Upon his return to Apple, Jobs
      played a pivotal role in revitalizing the company. He spearheaded the
      development of the iMac, which marked Apple's resurgence in the consumer
      market. Subsequently, Jobs introduced a series of groundbreaking products,
      including the iPod, iPhone, and iPad, which revolutionized the music,
      mobile phone, and tablet industries, respectively. Jobs' visionary
      leadership and emphasis on design and user experience set Apple apart from
      its competitors. His ability to combine technology with aesthetic appeal
      made Apple products highly desirable and created a devoted customer base.
      Jobs' relentless pursuit of perfection and his demand for excellence in
      all aspects of Apple's products and services defined his legacy. Sadly,
      Steve Jobs was diagnosed with a rare form of pancreatic cancer in 2003.
      Despite battling the disease, he continued to lead Apple until his
      resignation as CEO in August 2011. Steve Jobs passed away on October 5,
      2011, leaving behind a legacy of innovation and entrepreneurial spirit.
      Today, Steve Jobs is remembered as a visionary and an icon of the
      technology industry. His contributions to personal computing and his
      impact on multiple industries continue to shape the way we live and
      interact with technology. His story serves as an inspiration to aspiring
      entrepreneurs and innovators around the world.
    </p>
  </body>
</html>
