<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>HOME</title>
  </head>
  <body>
    <nav>
      <button class="about"><a href="about">ABOUT</a></button>
      <ul id="list">
        <li>
          <div class="image-container">
            <img src="old-steve.jpeg" alt="Image" />

            <a href="/about"> <span class="image-caption">STEVE</span></a>
          </div>
        </li>
      </ul>
      <ul id="list">
        <li>
          <div class="image-container">
            <img src="steve-jobs.jpeg" alt="Image" />
            <span class="image-caption"> <a href="/works">JOBS </a> </span>
          </div>
        </li>
        <button class="works"><a href="work">WORKS</a></button>
      </ul>
    </nav>
  </body>
</html>
